version: '3.0'
services:
  prestamype-tcd-api-prod:
    container_name: prestamype-tcd-api-prod
    build:
      context: .
      dockerfile: ./Dockerfile
      target: production
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    # restart: always